@if (ViewBag.User != null)
{
    string userName = ViewBag.User.Name;
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">@Html.ActionLink(userName, "Index", "Account", null, new {@class = "nav-link"})</li>
        <li class="nav-item">@Html.ActionLink("Выйти", "Exit", "Account", null, new {@class = "nav-link"})</li>
    </ul>
}
else
{
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">@Html.ActionLink("Войти", "Login", "Account", null, new {@class = "nav-link"})</li>
    </ul>
}