@if (ViewBag.User != null)
{
    string userName = ViewBag.User.Name;
    <ul>
        <li>Привет, @Html.ActionLink(userName, "Index", "Account")!</li>
        <li>@Html.ActionLink("Выйти", "Exit", "Account")</li>
    </ul>
}
else
{
    <ul>
        <li>@Html.ActionLink("Зарегистрироваться", "Register", "Account")</li>
        <li>@Html.ActionLink("Войти", "Login", "Account")</li>
    </ul>
}