@if (ViewBag.User!=null)
{
    string userName = ViewBag.User.Name;
    <text>
        <p>Привет, @Html.ActionLink(userName, "Index", "Account")!</p>
        <p>@Html.ActionLink("Выйти", "Exit", "Account")</p>
    </text>
} else {
    <ul>
        <li>@Html.ActionLink("Зарегистрироваться", "Register", "Account")</li>
        <li>@Html.ActionLink("Войти", "Login", "Account")</li>
    </ul>
}
