@using AlphaTest.Extensions
@model AlphaTest.Models.Query

@{
    ViewBag.Title = "Изменение заявки";
}

<p>Статус заявки №@Model.Id изменен на <strong>@Model.State.DisplayName()</strong></p>
<p>@Html.ActionLink("Перейти к списку","Index")</p>
